/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
*.log.*
*.*~
.*~
lock
.emacs.*
resources/public/cljs-admin/
resources/public/cljs/
.nrepl-port
resources/public/uploads/
deps-tree
.DS_Store
build.sh
deploy.sh
config.edn